.miniCol {
}

th.medCol {

}

.lgTitleCol {
    height: 100%;
    font-size: 13px;
}

p.title {
    width: 40ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonsCol {
    width: 234px;
    height: 31px;
}